# üîÅ Python Loops Assignment (While, For)

This notebook covers essential Python loop constructs with practical examples.

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## 1. Print numbers from 1 to 5 using a while loop.

In [2]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

## 2. Calculate the sum of numbers from 1 to 10 using a while loop.

In [3]:
i = 1
sum_total = 0
while i <= 10:
    sum_total += i
    i += 1
print("Sum:", sum_total)

Sum: 55

## 3. Calculate the factorial of a number using a for loop.

In [4]:
num = 5
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(f"Factorial of {num} is {factorial}")

Factorial of 5 is 120

## 4. Count the number of vowels in a string using a for loop.

In [5]:
text = "Data Science With Python"
vowels = "aeiouAEIOU"
vowel_count = 0
for char in text:
    if char in vowels:
        vowel_count += 1
print("Number of vowels:", vowel_count)

Number of vowels: 7

## 5. Print a pattern using nested loops.

In [6]:
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

## 6. Generate a multiplication table using nested loops.

In [7]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i * j, end="\t")
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25