# ðŸ Python Operators Assignment

This notebook covers basic Python operators for arithmetic, assignment, comparison, logical operations, identity, unary, bitwise, and ternary conditions. Ideal for beginners learning Python in a Data Science context.

## 1. Calculate the sum, difference, product, and quotient of two numbers

In [ ]:
a = 10
b = 5
print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a / b)

## 2. Perform various assignment operations on a variable

In [ ]:
x = 10
x += 5
print("After += :", x)
x -= 3
print("After -= :", x)
x *= 2
print("After *= :", x)
x /= 4
print("After /= :", x)

## 3. Compare two numbers and print the results

In [ ]:
x = 7
y = 10
print("x == y:", x == y)
print("x != y:", x != y)
print("x > y:", x > y)
print("x < y:", x < y)
print("x >= y:", x >= y)
print("x <= y:", x <= y)

## 4. Check conditions using logical operators

In [ ]:
a = True
b = False
print("a and b:", a and b)
print("a or b:", a or b)
print("not a:", not a)

## 5. Check the identity of variables

In [ ]:
x = [1, 2, 3]
y = x
z = [1, 2, 3]
print("x is y:", x is y)
print("x is z:", x is z)
print("x == z:", x == z)

## 6. Use unary operators to change the sign of a number

In [ ]:
n = 10
print("Original:", n)
print("Negated:", -n)

## 7. Perform bitwise operations on any two integers

In [ ]:
a = 5  # 0101
b = 3  # 0011
print("Bitwise AND:", a & b)
print("Bitwise OR:", a | b)
print("Bitwise XOR:", a ^ b)
print("Bitwise NOT a:", ~a)

## 8. Use the ternary operator to assign values based on conditions

In [ ]:
age = 18
status = "Adult" if age >= 18 else "Minor"
print("Status:", status)