# Python Type Conversion Assignment

### 1. Convert an integer to a floating-point number

In [ ]:
num = 10
float_num = float(num)
print(float_num)  # Output: 10.0

### 2. Convert a float to an integer

In [ ]:
float_value = 15.7
int_value = int(float_value)
print(int_value)  # Output: 15

### 3. Convert an integer to a string

In [ ]:
int_num = 25
str_num = str(int_num)
print(str_num)  # Output: '25'

### 4. Convert a list to a tuple

In [ ]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3, 4)

### 5. Convert a tuple to a list

In [ ]:
my_tuple = (5, 6, 7)
my_list = list(my_tuple)
print(my_list)  # Output: [5, 6, 7]

### 6. Convert a non-zero number to boolean

In [ ]:
num = 3
bool_value = bool(num)
print(bool_value)  # Output: True

### 7. Convert a decimal number to binary

In [ ]:
decimal = 10
binary = bin(decimal)
print(binary)  # Output: '0b1010'