In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


import warnings
warnings.filterwarnings('ignore')

# Python Type Conversion Assignment
1. Convert an integer to a floating-point number

In [2]:
num = 10
float_num = float(num)
print(float_num)

10.0

2. Convert a float to an integer

In [3]:
float_value = 15.7
int_value = int(float_value)
print(int_value)

15

3. Convert an integer to a string

In [4]:
int_num = 25
str_num = str(int_num)
print(str_num)

25

4. Convert a list to a tuple

In [5]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4)

5. Convert a tuple to a list

In [6]:
my_tuple = (5, 6, 7)
my_list = list(my_tuple)
print(my_list)

[5, 6, 7]

6. Convert a non-zero number to boolean.

In [7]:
num = 3
bool_value = bool(num)
print(bool_value)

True

7. Convert a decimal number to binary.

In [8]:
decimal = 10
binary = bin(decimal)
print(binary)

0b1010